<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title id="title">SAStruts + Mayaaサンプル</title>
  <link rel="stylesheet" type="text/css" href="${f.url('/style.css')}">
</head>
<body>
<table width="100%">
  <tr>
    <td colspan="2"><img src="${f.url('/seasar_logo_blue.gif')}"></td>
  </tr>
  <tr>
    <td width="20%" valign="top">
      <ul>
        <li><a id="echo" href="echo/index.html">エコーアプリケーション</a></li>
        <li><a id="basic" href="basic/index.html">基本処理</a></li>
        <li><a id="jstl" href="jstl/index.html">JSTL</a></li>
        <li><a id="component" href="component/index.html">コンポーネント</a></li>
      </ul>
    </td>
    <td valign="top" class="content">
      <div id="content">ダミーコンテンツ</div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="footer">Written by Naoki Takezoe, 2009.</div>
    </td>
  </tr>
</table>
</body>
</html>