<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>JSTL</title>
</head>
<body id="content">
<h2>c:ifによる文字列の出力</h2>
<p>
<span id="test">
  こんにちは、<strong id="name">お名前</strong>さん！
</span>
</p>

<form>
  お名前をどうぞ：
  <input type="text">
  <input type="submit">
</form>


<h2>c:foreachによる繰り返し処理</h2>
<p>
<span id="userList">
  <a href="mailto:example@example.com">名前</a><br>
  <a href="mailto:example@example.com">名前</a><br>
</span>
</p>

</body>
</html>