<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>基本処理</title>
</head>
<body id="content">

<h2>m:echoによるタグの出力</h2>
<p>
  <a id="link" href="#">Googleにジャンプ！</a>
</p>

<h2>m:ifによる条件分岐</h2>
<p>
<span id="test">
  こんにちは、<strong id="name">お名前</strong>さん！
</span>
</p>

<form>
  お名前をどうぞ：
  <input type="text">
  <input type="submit">
</form>


<h2>m:forによる繰り返し処理</h2>
<p>
<span id="userList">
  <a id="mail" href="mailto:example@example.com"><span id="userName">名前</span></a><br>
  <span id="dummy"><a href="mailto:example@example.com">名前</a><br></span>
</span>
</p>

<h2>XPathによる一括指定</h2>
<p>
<span class="hello">メッセージ</span><br>
<span class="hello">メッセージ</span><br>
<span class="hello">メッセージ</span><br>
</p>

</body>
</html>